In [2]:
import pandas as pd
import numpy as np

import os
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
genome_scores = pd.read_csv('genome_scores.csv')
genome_tags = pd.read_csv('genome_tags.csv')
imdb_data = pd.read_csv('imdb_data.csv')
links = pd.read_csv('links.csv')
tags = pd.read_csv('tags.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [19]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [20]:
movies.shape

(62423, 3)

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [22]:
ratings.shape

(100004, 4)

In [6]:
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [7]:
genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [8]:
imdb_data.head()

,movieId,title_cast,director,runtime,budget,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,"$30,000,000",toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,"$65,000,000",board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,"$25,000,000",boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,"$16,000,000",black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,"$30,000,000",fatherhood|doberman|dog|mansion

In [9]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [10]:
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [11]:
train.head()

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [12]:
test.head()

   userId  movieId
0       1     2011
1       1     4144
2       1     5767
3       1     6711
4       1     7318

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [5]:
movies = movies.fillna('')

In [6]:
tfidf_matrix = tfidf.fit_transform(movies['genres'])
tfidf_matrix.shape

(62423, 23)

In [7]:
tfidf.get_feature_names_out()[5000:5010]

array([], dtype=object)

In [8]:
tfidf_matrix.head()

AttributeError: head not found

In [19]:
from sklearn.metrics.pairwise import linear_kernel
from scipy.sparse import csr_matrix
tfidf_matrix_csr = csr_matrix(tfidf_matrix)
cosine_sim = linear_kernel(tfidf_matrix_csr, tfidf_matrix_csr)

MemoryError: Unable to allocate 8.92 GiB for an array with shape (1197641999,) and data type float64

In [ ]:
cosine_sim.shape

In [ ]:
cosine_sim[1]

In [15]:
# Id is a concatenation of the userID and movieID given in the test file (using an _ character). 
test['Id'] = test.apply(lambda row: f"{row['userId']}_{row['movieId']}", axis=1)
test.head()

   userId  movieId      Id
0       1     2011  1_2011
1       1     4144  1_4144
2       1     5767  1_5767
3       1     6711  1_6711
4       1     7318  1_7318

In [ ]:
# rating is the predicted rating for a given user-movie pair

In [ ]:
test['rating'] = #prediction

In [ ]:
test.head()

In [ ]:
# Create a csv

test[['Id', 'rating']].to_csv('submission1.csv', index=False)

In [ ]:
# Create Pickle file

import pickle

model_save_path = "lr_model.pkl"

with open(model_save_path,'wb') as file:
    pickle.dump(best_lr,file)